body{
    background-color:#0b244f;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main {
    width: 400px;
      /* background-color: #fff; */
     display: table-row;
     justify-content: center;
      
      align-items:center ;
}

h1{
    margin-left: 30%;
}

#part1 {  

         display: flex;
         justify-content: center;
         align-items: center;
          color:smoke whitesmoke;
          background-color: #020f1f;
          border-bottom: 2px solid whitesmoke;
          padding: 3px;
          border-bottom-left-radius: 5%;
          border-bottom-right-radius: 5%;
          
   }
     
.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020f1f;
     height: 300px;
     margin-top: -35px;
     border-top-left-radius: 5%;
     border-top-right-radius: 5%;
     padding-top: 50px;
}

.row{
    display: flex;
    flex-direction:row ;
      
}

.cell{
    
    background-color: #bc51ac;
    color:aqua;
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.cell:active{
    outline: none;
}

#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-top-left-radius: 10%;
}
#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-left: 1px solid gray;
}
#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray ;
    border-top-right-radius: 10%;
}
#b4{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-top: 1px solid gray;
}
#b5{
   border: 1px solid gray;
    
}
#b6{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray ;
    border-left: 1px solid gray;
}
#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray ;
    border-bottom-left-radius: 10%;
    border-bottom: 2px solid whitesmoke ;
}
#b8{
    border-top: 1px solid gray;
    border-right: 1px solid gray ;
    border-left: 1px solid gray;
    border-bottom: 2px solid whitesmoke ;
}
#b9{

    border-top: 1px solid gray;
    border-left: 1px solid gray ;
    border-bottom-right-radius: 10%;
    border-bottom: 2px solid whitesmoke ;
}

#but {
     box-sizing: border-box;
     width: 95px;
     height: 40px;
     border: 1px solid #020f1f60;
     margin-left: 35%;
     border-radius: 8px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color:rgb(61, 8, 8);
     color:white;
     font-size: 20px;
     cursor: pointer;
}
#print1{
    
    width:300px;
    height: 50px;
    background-color: #ad8080;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#print{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    font-size: 20px;
    
}

#ini{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       /* margin-left: 43%; */
       /* margin-bottom: -10px; */
}

/*  MEDIA QUERIES */

@media ( max-width:640px){ 



#main {
   
    width: 400px;
    
     display: table-row;
     justify-content: center;
      
      align-items:center ;
}

h1{
    margin-left: 30%;
}

#part1 {  
          
         
      display: flex;
    justify-content: center;
    align-items: center;
     color:smoke whitesmoke;
     background-color: #020f1f;
     border-bottom: 2px solid whitesmoke;
     padding: 3px;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;

   }
     
.ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #051a38;
     height: 300px;
     margin-top: -35px;
     border-top-left-radius: 5%;
     border-top-right-radius: 5%;
     padding-top: 50px;
}

.row{
    display: flex;
    flex-direction:row ;
      
}



.cell:active{
    outline: none;
}

#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-top-left-radius: 10%;
}
#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-left: 1px solid gray;
}
#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray ;
    border-top-right-radius: 10%;
}
#b4{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray ;
    border-top: 1px solid gray;
}
#b5{
   border: 1px solid gray;
    
}
#b6{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray ;
    border-left: 1px solid gray;
}
#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray ;
    border-bottom-left-radius: 10%;
    border-bottom: 2px solid whitesmoke ;
}
#b8{
    border-top: 1px solid gray;
    border-right: 1px solid gray ;
    border-left: 1px solid gray;
    border-bottom: 2px solid whitesmoke ;
}
#b9{

    border-top: 1px solid gray;
    border-left: 1px solid gray ;
    border-bottom-right-radius: 10%;
    border-bottom: 2px solid whitesmoke ;
}

#but {
    box-sizing: border-box;
     width: 95px;
     height: 40px;
     border: 1px solid #020f1f60;
     margin-left: 35%;
     border-radius: 8px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color:rgb(61, 8, 8);
     color:white;
     font-size: 20px;
     cursor: pointer;
}
#print1{
    
    width:300px;
    height: 50px;
    background-color: #061223;
    margin-left: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
   
}

#print{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    font-size: 20px;
}

#ini{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}


}

